@tailwind base;
@tailwind components;
@tailwind utilities;

.try{
    color: black;
    background-color: aqua;

}
body{
    background-color: #fffcea;
}
/* In your global CSS or Tailwind's CSS file */
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Example text shadow */
}
  